<div class="page-header">
  <h1>About Me</h1>
</div>
<div class="panel panel-default" id='homeme'>
  <div class="panel-body">
    Hi, I'm Kevin Casey, a junior at the University of California Berkeley studying Electrical Engineering and Computer Science.
    Last summer I worked as a Software Engineering Intern at Godaddy, and currently I'm a TA for <a href='https://sites.google.com/site/ucbcs169fa14/'>CS169</a> at UC Berkeley.
    <ul>
      <li>I'm a <a href="/projects#hackathonheader">hacker</a>: relying on the ability to turn impractical ideas into reality.</li>
      <li>I'm a <a href="/projects#personalprojectsheader">devloper</a>: finding innovative solutions to problems.</li>
      <li>I'm a <a href="/experience#teacherheader">teacher</a>: passing on the knowledge that I've acquired.
    </ul>
    On this site you can find <a href="/projects">projects</a> I've worked on, my <a href="/experience">experience</a>, my <a href="/other">education</a>,
    my <a href="/kevincaseyresume.pdf" target="_blank">resume</a> and my <a href="/contact">contact info</a>. Thanks for visiting my site.
  </div>
</div>

<div class="page-header">
  <h1>Project Highlights</h1>
</div>
<% @highlight_projects.each_with_index do |project, i| %>
  <% if i % 2 == 0 %>
    <div class="row-fluid"><!-- place two projects per row -->
  <% end %>
      <div class="span6">
        <div class="panel panel-default" id='<%= project.event_type.gsub " ", "" %>'>
          <div class="panel-body">
            <h3><%= link_to project.name, project_path(project) %></h3>
            <h4>
              <% if project.demo %>
                [<%= link_to 'demo', project.demo %>]
              <% end %>
              <% if project.result %>
                [<%= link_to 'result', project.result %>]
              <% end %>
              <% if project.repo %>
                [<%= link_to 'repo', project.repo %>]
              <% end %>
            </h4>
            <% if project.image_src %>
              <div id='img-result'>
                <a href='<%="/projects/#{project.id}"%>'>
                  <%= image_tag project.image_src %>
                  <div class="cover">
                    <i class="fa fa-plus fa-3x"></i>
                  </div>
                </a>
              </div>
            <% end %>
            <h4>Time: <%= project.timeframe %></h4>
            <h4>Language: <%= project.language %></h4>
            <p><%= project.blurb %></p>
          </div>
        </div>
      </div>
  <% if i % 2 == 1 %>
    </div>
  <% end %>
<% end %>

<% if @highlight_projects.count % 2 == 1 %>
  </div>
<% end %>

<div class="page-header">
  <h1>About This Site</h1>
</div>
<div class="panel panel-default" id='homesite'>
  <div class="panel-body">
    This site was built using Ruby on Rails and is currently hosted on heroku linked to a namecheap domain.
    The code backing this is located on <a href="https://github.com/Fortisque/kevincasey">GitHub</a>.  I know that using Rails
    is somewhat overkill for hosting what is basically a static site, but I really love developing in Rails!
  </div>
</div>
