<div class="page-header">
  <h1>Contact</h1>
</div>

<div class="page-header">
  <h2>Email</h2>
</div>
<div class="panel panel-default" id='contact'>
  <div class="panel-body">
    <p>
      This is probably the best way to contact me.  My email address is:
      <address>
        <a href="mailto:kacasey@berkeley.edu">kacasey@berkeley.edu</a>
      </address>
    </p>
    <div align="center">
      <h3>Feel free to send an email here</h3>

      <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.input :name, :required => true %>
        <%= f.input :email, :required => true %>
        <%= f.input :message, :as => :text, :required => true %>
        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
          </br>
          <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="page-header">
  <h2>Other Profiles</h2>
</div>
<div class="panel panel-default" id='othercontact'>
  <div class="panel-body">
    <ul>
      <li><%= link_to "Github", "http://github.com/Fortisque" %></li>
      <li><%= link_to "Linkedin", "https://www.linkedin.com/profile/view?id=205206080" %></li>
      <li><%= link_to "Blog", "https://kevincaseyblog.wordpress.com" %> - IEOR190 updates</li>
      <li><%= link_to "Youtube", "https://www.youtube.com/channel/UCXixS9VngaYYSCHtDs0TVXQ" %> - I play the flute/piano and post hackathon videos</li>
    </ul>
  </div>
</div>
