<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% @grouped_projects.each do |type, projects| %>
  <div class="page-header">
    <h2><%= type.capitalize.pluralize %></h2>
  </div>
  <% projects.each do |project| %>
    <h3><%= link_to project.name, project_path(project) %></h3>
    <h4>[<%= link_to 'demo', project.demo %>] [<%= link_to 'repo', project.repo %>]</h4>
    <h4>Time: <%= project.timeframe %></h4>
    <%= project.blurb %>
    <%= project.image_src %>
  <% end %>
<% end %>
