<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="page-header">
  <div class="row-fluid">
    <div class="span6">
      <% @grouped_projects.each do |type, projects| %>
        <% spaceless_type = type.gsub(' ', '') %>
        <h4><%= link_to type.pluralize.titleize, "#" + spaceless_type + "header" %></h4>
      <% end %>
    </div>
    <div class="span6">
      <% @languages.each do |language| %>
        <h4><span id="<%= 'link_highlight' if language == params[:language] %>"><%= link_to language, projects_path(language: language) %></span></h4>
      <% end %>
    </div>
  </div>
</div>
<% @grouped_projects.each do |type, projects| %>
  <% spaceless_type = type.gsub(' ', '') %>
  <div id="<%= spaceless_type + 'header' %>" style="padding-bottom: 20px;"></div>
  <div class="page-header">
    <h2><%= type.pluralize.titleize %></h2>
  </div>
  <% projects.each_with_index do |project, i| %>
    <% if i % 2 == 0 %>
      <div class="row-fluid"><!-- place two projects per row -->
    <% end %>
        <div class="span6">
          <div class="panel panel-default" id='<%= spaceless_type %>'>
            <div class="panel-body">
              <h3><%= link_to project.name, project_path(project) %></h3>
              <h4>
                <% if project.demo %>
                  [<%= link_to 'demo', project.demo %>]
                <% end %>
                <% if project.repo %>
                  [<%= link_to 'repo', project.repo %>]
                <% end %>
              </h4>
              <% if project.image_src %>
                <div id='img-result'>
                  <a href='<%="/projects/#{project.id}"%>'>
                    <%= image_tag project.image_src %>
                    <div class="cover">
                      <i class="fa fa-plus fa-3x"></i>
                    </div>
                  </a>
                </div>
              <% end %>
              <h4>Time: <%= project.timeframe %></h4>
              <h4>Language: <%= project.language %></h4>
              <p><%= project.blurb %></p>
            </div>
          </div>
        </div>
    <% if i % 2 == 1 %>
      </div>
    <% end %>
  <% end %>
  <% if projects.count % 2 == 1 %>
    </div><!-- end the row if there is an odd # of projects. last row won't close -->
  <% end %>
<% end %>
