<%- model_class = Project -%>
<div class="page-header">
  <h1><%= @project.name %></h1>
  <h3>[<%= link_to_if @project.demo, 'demo', @project.demo %>] [<%= link_to_if @project.repo, 'repo', @project.repo %>]</h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:timeframe) %>:</strong></dt>
  <dd><%= @project.timeframe %></dd>
  <dt><strong><%= model_class.human_attribute_name(:blurb) %>:</strong></dt>
  <dd><%= @project.blurb %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @project.description %></dd>
</dl>

<%= link_to 'Back', projects_path, :class => 'btn btn-primary btn-lg' %></dd>
